[submodule "workshops/workshop-sonic-pi"]
	path = workshops/workshop-sonic-pi
	url = https://github.com/Devoxx4KidsDE/workshop-sonic-pi.git
[submodule "workshops/workshop-mbot"]
	path = workshops/workshop-mbot
	url = https://github.com/Devoxx4KidsDE/workshop-mbot.git
[submodule "workshops/workshop-minecraft-kano"]
	path = workshops/workshop-minecraft-kano
	url = https://github.com/Devoxx4KidsDE/workshop-minecraft-kano.git
